<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwj.finance.mapper.NewsFinanceDateMapper" >

    <resultMap id="BaseResultMap" type="com.wwj.finance.pojo.NewsFinanceDate" >
        <id column="uniquekey" property="uniquekey" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="date" property="date" jdbcType="TIMESTAMP" />
        <result column="category" property="category" jdbcType="VARCHAR" />
        <result column="author_name" property="authorName" jdbcType="VARCHAR" />
        <result column="context" property="context" jdbcType="LONGVARCHAR" />
        <result column="thumbnail_pic_s" property="thumbnailPicS" jdbcType="VARCHAR" />
        <result column="thumbnail_pic_s02" property="thumbnailPicS02" jdbcType="VARCHAR" />
        <result column="thumbnail_pic_s03" property="thumbnailPicS03" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        uniquekey, title, date, category, author_name, context, thumbnail_pic_s, thumbnail_pic_s02, 
        thumbnail_pic_s03, status
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wwj.finance.pojo.NewsFinanceDateExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from news$finance_date
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from news$finance_date
        where uniquekey = #{uniquekey,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from news$finance_date
        where uniquekey = #{uniquekey,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.wwj.finance.pojo.NewsFinanceDateExample" >
        delete from news$finance_date
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <delete id="deleteByBeforeDate" parameterType="java.lang.Integer" >
        DELETE from `ddy-real`.`news$finance_date` where date &lt;=  DATE_SUB(NOW(),INTERVAL #{date} DAY)
    </delete>

    <insert id="insert" parameterType="com.wwj.finance.pojo.NewsFinanceDate" >
        insert ignore into news$finance_date (uniquekey, title, date,
            category, author_name, context, 
            thumbnail_pic_s, thumbnail_pic_s02, thumbnail_pic_s03, 
            status)
        values (#{uniquekey,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
            #{category,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR}, #{context,jdbcType=LONGVARCHAR}, 
            #{thumbnailPicS,jdbcType=VARCHAR}, #{thumbnailPicS02,jdbcType=VARCHAR}, #{thumbnailPicS03,jdbcType=VARCHAR}, 
            #{status,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.wwj.finance.pojo.NewsFinanceDate" >
        insert ignore into news$finance_date
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uniquekey != null" >
                uniquekey,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="date != null" >
                date,
            </if>
            <if test="category != null" >
                category,
            </if>
            <if test="authorName != null" >
                author_name,
            </if>
            <if test="context != null" >
                context,
            </if>
            <if test="thumbnailPicS != null" >
                thumbnail_pic_s,
            </if>
            <if test="thumbnailPicS02 != null" >
                thumbnail_pic_s02,
            </if>
            <if test="thumbnailPicS03 != null" >
                thumbnail_pic_s03,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uniquekey != null" >
                #{uniquekey,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="date != null" >
                #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="category != null" >
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="authorName != null" >
                #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="context != null" >
                #{context,jdbcType=LONGVARCHAR},
            </if>
            <if test="thumbnailPicS != null" >
                #{thumbnailPicS,jdbcType=VARCHAR},
            </if>
            <if test="thumbnailPicS02 != null" >
                #{thumbnailPicS02,jdbcType=VARCHAR},
            </if>
            <if test="thumbnailPicS03 != null" >
                #{thumbnailPicS03,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.wwj.finance.pojo.NewsFinanceDateExample" resultType="java.lang.Integer" >
        select count(*) from news$finance_date
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update news$finance_date
        <set >
            <if test="record.uniquekey != null" >
                uniquekey = #{record.uniquekey,jdbcType=VARCHAR},
            </if>
            <if test="record.title != null" >
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.date != null" >
                date = #{record.date,jdbcType=TIMESTAMP},
            </if>
            <if test="record.category != null" >
                category = #{record.category,jdbcType=VARCHAR},
            </if>
            <if test="record.authorName != null" >
                author_name = #{record.authorName,jdbcType=VARCHAR},
            </if>
            <if test="record.context != null" >
                context = #{record.context,jdbcType=LONGVARCHAR},
            </if>
            <if test="record.thumbnailPicS != null" >
                thumbnail_pic_s = #{record.thumbnailPicS,jdbcType=VARCHAR},
            </if>
            <if test="record.thumbnailPicS02 != null" >
                thumbnail_pic_s02 = #{record.thumbnailPicS02,jdbcType=VARCHAR},
            </if>
            <if test="record.thumbnailPicS03 != null" >
                thumbnail_pic_s03 = #{record.thumbnailPicS03,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update news$finance_date
        set uniquekey = #{record.uniquekey,jdbcType=VARCHAR},
            title = #{record.title,jdbcType=VARCHAR},
            date = #{record.date,jdbcType=TIMESTAMP},
            category = #{record.category,jdbcType=VARCHAR},
            author_name = #{record.authorName,jdbcType=VARCHAR},
            context = #{record.context,jdbcType=LONGVARCHAR},
            thumbnail_pic_s = #{record.thumbnailPicS,jdbcType=VARCHAR},
            thumbnail_pic_s02 = #{record.thumbnailPicS02,jdbcType=VARCHAR},
            thumbnail_pic_s03 = #{record.thumbnailPicS03,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=INTEGER}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.wwj.finance.pojo.NewsFinanceDate" >
        update news$finance_date
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="date != null" >
                date = #{date,jdbcType=TIMESTAMP},
            </if>
            <if test="category != null" >
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="authorName != null" >
                author_name = #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="context != null" >
                context = #{context,jdbcType=LONGVARCHAR},
            </if>
            <if test="thumbnailPicS != null" >
                thumbnail_pic_s = #{thumbnailPicS,jdbcType=VARCHAR},
            </if>
            <if test="thumbnailPicS02 != null" >
                thumbnail_pic_s02 = #{thumbnailPicS02,jdbcType=VARCHAR},
            </if>
            <if test="thumbnailPicS03 != null" >
                thumbnail_pic_s03 = #{thumbnailPicS03,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where uniquekey = #{uniquekey,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.wwj.finance.pojo.NewsFinanceDate" >
        update news$finance_date
        set title = #{title,jdbcType=VARCHAR},
            date = #{date,jdbcType=TIMESTAMP},
            category = #{category,jdbcType=VARCHAR},
            author_name = #{authorName,jdbcType=VARCHAR},
            context = #{context,jdbcType=LONGVARCHAR},
            thumbnail_pic_s = #{thumbnailPicS,jdbcType=VARCHAR},
            thumbnail_pic_s02 = #{thumbnailPicS02,jdbcType=VARCHAR},
            thumbnail_pic_s03 = #{thumbnailPicS03,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER}
        where uniquekey = #{uniquekey,jdbcType=VARCHAR}
    </update>
</mapper>